name: CI

on:
  pull_request:
  merge_group:

env:
  GH_TOKEN: ${{ github.token }}
  RUSTFLAGS: -Dwarnings
  RUSTDOCFLAGS: -Dwarnings

defaults:
  run:
    shell: bash

jobs:
  clippy:
    name: Clippy
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Clippy
        run: cargo xtask clippy

  fmt:
    name: Format
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt
      - name: Check Formatting
        run: cargo fmt -- --check

  run:
    name: Run
    strategy:
      matrix:
        arch: [x86_64, aarch64, aarch64_be, riscv64]
        include:
          - arch: x86_64
            flags: --accel --sudo
    runs-on: ubuntu-24.04
    steps:
      - name: Install QEMU
        run: |
          sudo apt-get update
          sudo apt-get install qemu-system-x86 qemu-system-arm qemu-system-misc
      - name: Install firecracker
        run: |
          # https://github.com/firecracker-microvm/firecracker/blob/v1.5.1/docs/getting-started.md#getting-a-firecracker-binary
          ARCH="$(uname -m)"
          release_url="https://github.com/firecracker-microvm/firecracker/releases"
          latest=$(basename $(curl -fsSLI -o /dev/null -w  %{url_effective} ${release_url}/latest))
          curl -L ${release_url}/download/${latest}/firecracker-${latest}-${ARCH}.tgz \
          | tar -xz

          mkdir -p $HOME/.local/bin
          mv release-${latest}-$(uname -m)/firecracker-${latest}-${ARCH} $HOME/.local/bin/firecracker
          echo $HOME/.local/bin >> $GITHUB_PATH

          $HOME/.local/bin/firecracker --version
          echo "FIRECRACKER=$HOME/.local/bin/firecracker" >> "$GITHUB_ENV"
        if: matrix.arch == 'x86_64'
      - uses: actions/checkout@v6
        with:
          lfs: true
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.arch == 'aarch64_be' && 'nightly' || 'stable' }}
          components: ${{ matrix.arch == 'aarch64_be' && 'rust-src' || '' }}
      - name: Dowload OpenSBI
        if: matrix.arch == 'riscv64'
        run: |
          gh release download v1.7 --repo riscv-software-src/opensbi --pattern 'opensbi-*-rv-bin.tar.xz'
          tar -xvf opensbi-*-rv-bin.tar.xz opensbi-1.7-rv-bin/share/opensbi/lp64/generic/firmware/fw_jump.bin
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}
        if: matrix.arch != 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }} --release
        if: matrix.arch != 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot --release
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot --microvm
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot --microvm --release
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot --image hello_c
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-multiboot --image hello_c --release
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-uefi
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci qemu ${{ matrix.flags }} --target ${{ matrix.arch }}-uefi --release
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci firecracker --target ${{ matrix.arch }}-linux --sudo
        if: matrix.arch == 'x86_64'
      - run: cargo xtask ci firecracker --target ${{ matrix.arch }}-linux --sudo --release
        if: matrix.arch == 'x86_64'
